.BtnContainer {
  top: 60%;
  position: sticky;
  float: right;
}

.aboutMeBtn {
  justify-content: center;
  display: flex;
  width: 6rem;
  font-weight: bold;
  font-family: serif;
  background: none;
  color: black;
  border: none;
  font-size: 0.9rem;
}

.aboutMeBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.aboutMeBtn:focus {
  transition-duration: 0.8s;
  font-size: 1.2rem;
}

@media (max-width: 720px) {
  .aboutMeBtn {
    font-size: 0.75rem;
    width: 5.3rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 1.095rem;
  }
}

@media (max-width: 650px) {
  .aboutMeBtn {
    font-size: 0.65rem;
    width: 4.9rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.95rem;
  }
}

@media (max-width: 580px) {
  .aboutMeBtn {
    font-size: 0.55rem;
    width: 4.1rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.85rem;
  }
}

@media (max-width: 510px) {
  .aboutMeBtn {
    font-size: 0.5rem;
    width: 3.5rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.7rem;
  }
}

@media (max-width: 440px) {
  .aboutMeBtn {
    font-size: 0.4rem;
    width: 3.3rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.6rem;
  }
}

@media (max-width: 370px) {
  .aboutMeBtn {
    font-size: 0.4rem;
    width: 2.4rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.5rem;
  }
}

.aboutMeContent {
  height: 9rem;
  overflow: auto;
  font-size: 0.9rem;
  margin-bottom: 0.7rem;
}

/* @media (min-width: 850px) {
  .aboutMeContent {
    font-size: 0.8rem;
  }
} */

.aboutMeContent::-webkit-scrollbar {
  width: 0.5rem;
}
.aboutMeContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.aboutMeContent::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.aboutMeContent::-webkit-scrollbar-thumb:hover {
  background: black;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  top: -2rem;
}

.blogFooter {
  text-align: center;
  margin-top: 0.5%;
}

.color {
  color: black;
}

.blogBtnList {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-right: 1.7rem;
  margin-top: 0;
}

.blogDisplayBtn {
  background: none;
  margin-right: 1vh;
  border-radius: 0.2vh;
}

.blogDisplayBtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.blogDisplayBtn:focus {
  border-color: black;
  font-weight: bold;
}

.hidden {
  display: none;
}

.topHeader {
  margin-top: 0;
  text-decoration: underline;
  font-size: 0.8rem;
}

.header {
  text-decoration: underline;
  font-size: 0.8rem;
}

.aboutMeList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.status {
  text-align: center;
}
