.BtnContainer {
  top: 40%;
  position: sticky;
  float: right;
}

.aboutMeBtn {
  justify-content: center;
  display: flex;
  width: 6rem;
  font-weight: bold;
  font-family: serif;
  background: none;
  color: black;
  border: none;
  font-size: 0.8rem;
}

.aboutMeBtn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.aboutMeBtn:focus {
  transition-duration: 0.8s;
  font-size: 1.1rem;
}

@media (max-width: 599px) {
  .aboutMeBtn {
    font-size: 0.7rem;
    width: 3rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.9rem;
  }
}

@media (max-width: 399px) {
  .aboutMeBtn {
    font-size: 0.5rem;
    width: 2.5rem;
  }
  .aboutMeBtn:focus {
    transition-duration: 0.8s;
    font-size: 0.6rem;
  }
}

.aboutMeContent {
  height: 9rem;
  overflow: auto;
  font-size: 0.9rem;
}

/* @media (min-width: 850px) {
  .aboutMeContent {
    font-size: 0.8rem;
  }
} */

.aboutMeContent::-webkit-scrollbar {
  width: 1vh;
}
.aboutMeContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.aboutMeContent::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}
.aboutMeContent::-webkit-scrollbar-thumb:hover {
  background: black;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.blogFooter {
  text-align: center;
  margin-top: 0.5%;
}

.color {
  color: black;
}

.blogBtnList {
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: center;
  margin-right: 1.7rem;
  margin-top: 0;
}

.blogDisplayBtn {
  background: none;
  margin-right: 1vh;
  border-radius: 0.2vh;
}

.blogDisplayBtn:hover {
  font-weight: bold;
  cursor: pointer;
}

.blogDisplayBtn:focus {
  border-color: black;
  font-weight: bold;
}

.hidden {
  display: none;
}
