.generalNavList {
  list-style: none;
  display: flex;
  text-decoration: none;
  justify-content: center;
  margin-left: 1.6rem;
  margin-right: 3.15rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 0.9rem;
}

.blogDisplayLink {
  text-decoration: none;
  font-family: serif;
  font-weight: bold;
  top: 0;
  color: black;
}

.blogDisplayLink:hover {
  text-decoration: underline;
}

.blogDisplayList {
  writing-mode: vertical-rl;
  list-style: none;
}

.aboutMeLink {
  text-decoration: none;
  font-family: serif;
  font-weight: bold;
  top: 0;
  color: black;
}

.aboutMeLink:hover {
  text-decoration: underline;
}

.aboutMeList {
  writing-mode: vertical-rl;
  list-style: none;
}

.stickyLink {
  top: 33.5%;
  display: flex;
  position: sticky;
}

.aStickyLink {
  top: 55%;
  display: flex;
  position: sticky;
}

.footerImage {
  width: 2rem;
}
