.aboutTitleBanner {
  display: flex;
  font-weight: bold;
  font-size: 4rem;
  color: black;
  font-family: serif;
  cursor: default;
  justify-content: center;
  margin: 0 auto;
}

.blogTitleBanner {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-size: 5rem;
  color: black;
  cursor: default;
}
