.aboutTitleBanner {
  position: absolute;
  top: 1vh;
  margin-left: 34.5%;
  font-weight: bold;
  font-size: 5rem;
  color: black;
  font-family: serif;
  cursor: default;
}

.blogTitleBanner {
  text-align: center;
  font-weight: bold;
  font-family: serif;
  font-size: 5rem;
  color: black;
  cursor: default;
}
